---
key: 4
title: Coding
permalink: /coding/
excerpt: Academic Simulation Codes
image: mare_nostrum.jpg
background-image: mare_nostrum_2.jpg
---

{% if site.social.github %}
  <div class="table-wrapper">
    <table>
      <tbody>
	<tr>
	  <td style="text-align: center;">
	    Visit my <a target="_blank" href="{{ site.social.github }}">github</a>
	    <a target="_blank" href="{{ site.social.github }}" class="icon">
	      <span class="icon fa-github fa-lg"></span>
	    </a>
	    and <a target="_blank" href="{{ site.social.gitlab }}">gitlab</a>
	    <a target="_blank" href="{{ site.social.gitlab }}" class="icon">
	      <span class="icon fa-gitlab fa-lg"></span>
	    </a>
	    profiles
	  </td>
	</tr>
      </tbody>
    </table>
  </div>
{% endif %}
{% if site.categories.coding %}
  <div class="table-wrapper">
    <table>
      <tbody>
	{% include fn_groupsort_reverse.html unsorted=site.categories.coding groupby='priority' sortby='date' %}
	{% for work in sorted_list %}
	  <tr>
            <td><b><a href="{{ work.url | prepend: site.baseurl }}">{{ work.title }}</a></b></td>
            <td>{{ work.excerpt | strip_html | truncatewords: 20 }}</td>
	  </tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
  {% if site.works_in_progress %}
    <div class="works_inprogress">In-progress, more to come.</div>
  {% endif %}
{% endif %}
