---
layout: default
---

<section class="wrapper{% if page.options contains 'minihead' %} minihead{% endif %} style5">
  <div class="inner{% if page.options contains 'fullwidth' %} fullwidth{% endif %}">
    {% unless site.navlinks == 'none' %}
      {% if page.categories contains 'publications' %}
        {% assign idxperma = '/publications/' | prepend: site.baseurl%}
        {% assign idxtitle = 'Publication Index' %}
        {% assign idxbutton = 'Index' %}
        {% include fn_groupsort_reverse.html unsorted=site.categories.publications groupby='priority' sortby='date' %}
      {% endif %}
      {% if page.categories contains 'coding' %}
        {% assign idxperma = '/coding/' | prepend: site.baseurl%}
        {% assign idxtitle = 'Coding Index' %}
        {% assign idxbutton = 'Index' %}
        {% include fn_groupsort_reverse.html unsorted=site.categories.coding groupby='priority' sortby='date' %}
      {% endif %}
      {% if page.categories.first == 'topics' and page.categories.last != 'topics' %}
        {% assign idxperma = page.categories | join: '/' | prepend: '/' | prepend: site.baseurl | append: '/' %}
        {% assign idxtitle = 'Start page' %}
        {% assign idxbutton = 'Start' %}
        {% assign sorted_list = site.empty_array %}
        {% for topic in site.categories.topics %}
          {% if topic.categories.last == page.categories.last %}
            {% assign sorted_list = sorted_list | push: topic %}
          {% endif %}
        {% endfor %}
        {% assign sorted_list = sorted_list | sort: 'date' %}
        {% if page.pub-title %}
          <span id="post-date">{{ page.date  | date: "%-d %B %Y" }}</span>
	  <hr style="margin-top:3px;margin-bottom:10px" />
          {{ page.pub-author }}. <i>{{ page.pub-title }}</i>. {{ page.pub-journal }} <b>{{ page.pub-volume }}</b>, {{ page.pub-page }} ({{ page.pub-year }}).
          &nbsp;
	  <a target="_blank" href="{{ page.pub-url }}">
	    <span class="ai ai-doi ai-lg"></span>
	  </a>
	  {% if page.stars == 5 %}
	    </br>&#9733;&#9733;&#9733;&#9733;&#9733;
	  {% elsif page.stars == 4 %}
	    </br>&#9733;&#9733;&#9733;&#9733;&#9734;
	  {% elsif page.stars == 3 %}
	    </br>&#9733;&#9733;&#9733;&#9734;&#9734;
	  {% elsif page.stars == 2 %}
	    </br>&#9733;&#9733;&#9734;&#9734;&#9734;
	  {% elsif page.stars == 1 %}
	    </br>&#9733;&#9734;&#9734;&#9734;&#9734;
	  {% elsif page.stars == 0 %}
	    </br>&#9734;&#9734;&#9734;&#9734;&#9734;
	  {% endif %}
	  <hr style="margin-top:5px;margin-bottom:10px" />
        {% endif %}
      {% endif %}
    {% endunless %}
    {% if sorted_list %}
      {% if site.navlinks == 'top' or site.navlinks == 'both' %}
        {% include fn_sortednav.html posclass='btntop' %}
      {% endif %}
    {% endif %}
    {% unless page.options contains 'minihead' %}
      <span id="post-date">{{ page.date  | date: "%-d %B %Y" }}</span>
      <hr style="margin-top:3px;" />
    {% endunless %}
    
    {% if page.categories contains 'publications' %}
      <h2>{{ page.pub-title }}</h2>
      <h5>
	{{ page.pub-journal }} - {{ page.date  | date: "%Y" }}
	&nbsp;
	<a target="_blank" href="{{ page.pub-url }}">
	  <span class="ai ai-doi ai-lg"></span>
	</a>
	&nbsp;
	<a target="_blank" href="{{ page.pub-pdf }}">
	  <span class="icon fa-file-pdf-o fa-lg style4"></span>
	</a>
      </h5>
      {{ page.pub-author }}
      <hr/>
      {% if page.pub-fig %}
        <div class="box alt">
	  <div class="row uniform 50%">
	    <div class="12u">
	      <span class="image fit">
		<img src="{{ site.baseurl }}/images/{{ page.pub-fig }}" alt="" />
	      </span>
	    </div>
	  </div>
	</div>
      {% endif %}
    {% endif %}
    {% if page.categories contains 'coding' %}
      {% if page.code-logo %}
        <div class="box alt">
	  <div class="row uniform 50%">
	    <div class="12u">
	      <span class="image fit">
		<img src="{{ site.baseurl }}/images/{{ page.code-logo }}" alt="" />
	      </span>
	    </div>
	  </div>
	</div>
      {% endif %}
      {% if page.code-url and page.code-repo %}
	{% if page.code-lictype contains 'open' %}
	  <a target="_blank" href="{{ page.code-url }}" title="{{ page.license }}" class="icon">
	    <span class="icon fa-{{ page.code-repo }} fa-2x style3"></span>
	  </a>
	{% else %}
	  <a target="_blank" href="{{ page.code-url }}" title="closed access" class="icon">
	    <span class="icon fa-{{ page.code-repo }} fa-2x style5"></span>
	  </a>
	{% endif %}
	&nbsp;
      {% endif %}
      <b>Developed by {{ page.code-author }}</b>
      <p></p>
      {% if page.lang %}
        {% assign work = page %}
        {% include langlist.html %}
      {% endif %}
      {% if page.tags %}
        <h5>Key words</h5>
	{% assign work = page %}
	{% include techlist.html %}
      {% endif %}
      <hr/>
    {% endif %}

    {{ content }}

    {% if page.categories contains 'topics' and page.pub-title %}
      <h5>Key words</h5>
      {% assign work = page %}
      {% include techlist.html %}
    {% endif %}
    {% if page.categories contains 'publications' and page.tags %}
      <h5>Key words</h5>
      {% assign work = page %}
      {% include techlist.html %}
    {% endif %}
    {% if sorted_list %}
      {% if site.navlinks == 'bottom' or site.navlinks == 'both' %}
        {% unless perma %}
          {% assign perma = '/topics/' | prepend: site.baseurl %}
        {% endunless %}
        {% include fn_sortednav.html posclass='btnbottom' %}
      {% endif %}
    {% endif %}
    {% unless page.author == 'none' %}
      {% include author-block.html %}
    {% endunless %}
    {% if jekyll.environment == "production" %}
      {% unless page.options contains nocomment or page.categories contains 'publications' %}
        {% include disqus.html %}
      {% endunless %}
    {% endif %}

  </div>
</section>
